h2
{
    font-style: inherit;
    text-align:left;
    color:darkslategrey;
    text-shadow: royalblue;
    
}

#casesnum
{
    color:#db4d4d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align:left;
}
a
{
    color:green;
}

#column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  #ro::after {
    content: "";
    clear: both;
    display: table;
  }
  #deathsnum
  {
      color: red;
  }
  #recovered
  {
      color: green;
  }
  .news
  {
      border-style: initial;
      text-decoration: underline;
  }
  img
  {
      height: 300px;
      width: 300px;
      padding: 20px;
  }
  .jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }
  #con
  {
      background-color: rgb(243, 243, 200);
  }
  #tab
  {
      background-color: linen;
  }
  #con1
  {
      background-color:tan;
  }
  #top
  {
      text-align: center;
      color: dimgrey;
  }

  .container-name div {
    display: inline-block;
	width: 500px;
	min-height: 50px;
	background-color: #eee;
	height: auto;
  }
  #in
  {
      height: 100px;
      width: 100px;
  }
  #home
  {
      text-align: center;
      background-color: #eee;
  }
  #appu
  {
      float: right;
  }
  #search
  {
      background-color:rgb(247, 240, 226) ;
      color: peru;
  }

  #scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }

  hr.new4 {
    border: 1px solid red;
  }