
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" id="dev" href="#">COVID 19</a>
    </div>
    <ul class="nav navbar-nav">
     <li class="active"><a href="#" style="color:goldenrod">Home</a></li>  
    </ul >
    <ul class="nav navbar-nav">
      <li class="active"><a href="/covidapp1/covidinfo" style="color:goldenrod">Myth Busters</a></li>  
     </ul >
     <ul class="nav navbar-nav">
      <li class="active"><a href="/covidapp1/statistics" style="color:goldenrod">See Statistics</a></li>  
     </ul >
    <form class="navbar-form navbar-right" action="/action_page.php">
      <div class="form-group" style="padding-right: 5px;">
        <input type="text" [(ngModel)]="search" name="search" id="search" class="form-control" placeholder="Search Country">
      </div>
      <button type="submit" class="btn btn-default"  (click)=getCountry()>Search</button>
    </form>
  </div>
</nav>



<div id="home">
  <select class="mdb-select md-form" id="appu" (change)="getData($event.target.value)" >
    <option value="" disabled selected>Select your Country</option>
    <option  *ngFor="let hero of country1" value="{{hero.country}}">{{hero.country}}</option>
  </select><br/>
  <img id="in" src="{{conInfo.flag}}"><b>{{country.country}}</b>
<div class="container-name">
  
  <div class="div1">
    &nbsp;&nbsp;<span>All cases:<b>{{country.cases}}</b></span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Today's cases:<b>{{country.todayCases}}</b></span>

  </div> 
  
  <div class="div2">
    &nbsp;&nbsp;<span>All Deaths:<b>{{country.deaths}}</b></span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Today's Deaths:<b>{{country.todayDeaths}}</b></span>
  </div>
</div>




<div class="container" id="con">
    
    <h3 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;text-align: center;">COVID-19 CORONAVIRUS OUTBREAK </h3>
    <h5 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;text-align: center;">Last Updated:  {{dated}}</h5>
    <hr/>
    <div class="row" id="ro">
        <div class="col-lg-4" id="colum">
            <h2 id="cases">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coronavirus Cases</h2>
            <h1 id="casesnum">&nbsp;&nbsp;&nbsp;<b>{{alls.cases}}</b>&nbsp;<b>&uarr;</b></h1>
            <a href="/covidapp1/bycountry">view by country</a>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div> <div class="col-lg-4" id="colum">
            <h2 id="deaths">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coronavirus Deaths</h2>
            <h1 id="deathsnum">&nbsp;&nbsp;&nbsp;<b>{{alls.deaths}}</b>&nbsp;<b>&uarr;</b></h1>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

        </div>
        <div class="col-lg-4" id="colum">
            <h2 id="recoveredd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coronavirus Recovered</h2>
            <h1 id="recovered">&nbsp;&nbsp;&nbsp;<b>{{alls.recovered}}</b>&nbsp;&nbsp;<b>&uarr;</b></h1>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
</div>
</div>
<hr/>
<u><h2 id="top">Top new Stories</h2></u><br><br>


<div class="container" id="con1">
    <div class="row" id="tab">
        <table border="1">
        <div class="col-lg-6" *ngFor="let hero of actnews">
<tr><th><h4 class="news">{{hero.title}}</h4></th></tr>
<tr><td><img src="{{hero.urlToImage}}" alt="No Image"></td></tr>
<tr><td><p>{{hero.description}}</p></td></tr>
<tr><td><p>To know More <a href="{{hero.url}}">click here</a></p></td></tr>
<tr><td><hr/></td></tr>
</div>
</table>
</div>
</div>
<hr class="new">

<u><h4 style="color: darkslateblue;">Follow us</h4></u>
<span>
  
  <a href="https://www.facebook.com/ashish.hole.7" class="fa fa-facebook"></a>&nbsp;&nbsp;
  <a href="https://www.linkedin.com/in/ashish-hole-0b2977167" class="fa fa-linkedin"></a>&nbsp;&nbsp;
  <a href="https://www.instagram.com/ashish.hole/" class="fa fa-instagram"></a>&nbsp;&nbsp;
</span>
<hr class="new">
  

  

  <iframe src="https://www.powr.io/plugins/hit-counter/view/23412484" style="width:100;" height="100" frameborder="0"></iframe>
  <a href="#" id="scroll" style="display: none;"><span></span></a>
